# http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.js]
indent_size = 4
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
charset = utf-8

[*.ts]
indent_size = 4
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
charset = utf-8

# yml uses 2 spaces
[*.yml]
indent_size = 2